@tailwind base;
@tailwind components;
@tailwind utilities;
li {
    position: relative;
    cursor: pointer;
  }
  
  li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #99CC33;
    transition: width 0.3s ease-out;
  }
  
  li:hover::before {
    width: 100%;
  }
  